<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Administración</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav>
	<div class="menu">
		<div class="logo">
			<a>RoBanck</a>
			<a> 
				<img alt class="sizing-normal rounded"  th:if="${foto != null}"
                         th:src="'data:image/png;base64, ' + ${foto}" width="130" >
				</a>
		</div>
		<ul class="nav-links">
			<li>
				<form th:action="@{/auth/logout}" method="post" id="logoutForm">
					<button type="submit" class="btn btn-dark mt-2">Logout</button>
				</form>
			</li>
		</ul>
		
	</div>
</nav>
<div class="container py-4 mt-5">

		<div class="card bg-light">
			<div class="card-header"><h3>Administración</h3></div>
			<div class="card-body" >

				<h5 class="card-title text-center text-danger" th:if="${#lists.isEmpty(usuarios)}">No hay usuarios registrados</h5>

				<h4 class="card-title">
					<a sec:authorize="hasRole('ADMIN')" th:href="@{/auth/registrar}" class="btn btn-dark" th:if="${not #lists.isEmpty(usuarios)}">
						crear usuario
					</a>
				</h4>
				<table class="table table-striped table-bordered" th:if="${not #lists.isEmpty(usuarios)}">
					<thead class="thead-inverse">
						<tr>
							<th class="table-dark">id</th>
							<th class="table-dark">nombre</th>
							<th class="table-dark">apellidos</th>
							<th class="table-dark">email</th>
							<th class="table-dark">DNI</th>
							<th class="table-dark" sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
							<th  class="table-dark"sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${usuarios}">
							<td th:text="${usuario.id_usuario}"></td>
							<td th:text="${usuario.name}"></td>
							<td th:text="${usuario.lastName}"></td>
							<td th:text="${usuario.email}"></td>
							<td th:text="${usuario.dni}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<form class="form" th:action="@{'/privada/modificar/' + ${usuario.id_usuario}}"  method="post">
									<input type="hidden" name="id" th:value="${usuario.id_usuario}" />
									<button type="submit" class="btn btn-primary"
										th:text="modificar"></button>
								</form>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<form class="form" th:action="@{'/privada/eliminar/' + ${usuario.id_usuario}}" method="post">
									<input type="hidden" name="id" th:value="${usuario.id_usuario}" />
									<button type="submit" class="btn btn-danger"
										th:text="eliminar"></button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>