<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<nav>
		<div class="menu">
			<div class="logo">
				<a>RoBanck</a>
				
				<a>
					<img alt="Default Image" class="image-navbar" src="${foto}" />
				</a>
				
			</div>
			<ul class="nav-links">
				<li class= "text-center"><span th:text="${nombreUsuario}">usuario</span></li>
				<li class="mt-3 me-5" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/privada/administracion}">Administración</a></li>
				<li>
					<form th:action="@{/auth/logout}" method="post" id="logoutForm">
						<button type="submit" class="btn btn-dark mt-2">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<h3 class="text-dark text-center mt-5">Bienvenido </h3>
	<script th:if="${not #strings.isEmpty(noAdmin)}">
	    mostrarNotificacion("Acceso Restringido", "No tiene permisos");
	</script>
</body>

</html>